.rce-description,
.codebot-description,
.portfolio-description {
  font-size: 16px;
}
@media screen and (min-width: 3840px) {
  .projects-heading {
    font-size: 40px;
  }
  .rce-description,
  .codebot-description,
  .portfolio-description {
    font-size: 23px;
  }
  .remote-code-card,
  .discord-codebot-card,
  .portfolio-card {
    width: 80%;
  }
}
@media screen and (width: 1024px) {
  .rce-description,
  .codebot-description,
  .portfolio-description {
    font-size: 14px;
  }
}
@media screen and (max-width: 702px) {
  .rce-description,
  .codebot-description,
  .portfolio-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 474px) {
  .rce-description,
  .codebot-description,
  .portfolio-description {
    font-size: 15px;
  }
}
