.techiknow-heading {
  border-bottom: 2px solid rgb(168, 164, 164);
}
.techiknow-first,
.techiknow-second {
  color: rgb(168, 164, 164);
  font-size: 16px;
}
@media screen and (max-width: 702px) {
  .techiknow-first,
  .techiknow-second {
    font-size: 15px;
  }
}
@media screen and (max-width: 474px) {
  .techiknow-first,
  .techiknow-second {
    font-size: 14px;
    margin-top: -10px;
  }
}
